.header {
  background-color: #f8f9fa;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  .nav {
    display: flex;
    justify-content: center;
    .nav-list {
      list-style: none;
      display: flex;
      gap: 1rem;
      padding: 0;
      margin: 0;
      .nav-item {
        .nav-link {
          text-decoration: none;
          color: #333;
          &:active {
            color: rgb(20, 184, 166);
          }
          &:hover {
            color: rgb(20, 184, 166);
          }
        }
      }
    }
  }
}
